:root {
    --blue: #b1e4e6;
    --white: #FFFFFF;
    --black: #000000;
    --red: #ff0000;
    --dark: rgba(23, 23, 23, 1);
    --sun: url('/static/resources/sun.png');
    --moon: url('/static/resources/moon.png');
}

body {
    font-family: helvetica;
    background: var(--bg);
    color: var(--fontColor);
}

ul {
    font-family: helvetica;
}

/* li {
    list-style: square;
}
*/
.list {
    list-style: circle;
}

#msg {
    font-family: monospace;
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.auntification {
    /* position: absolute;
    top: 250px;
    left: 25px; */
    position: absolute;
    top: 25%;
    left: 42%;
}


.ThemeButton {
    position: absolute;
    background: var(--themeBtnImg);
    background-size: cover;
    top: 25px;
    left: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.site {
    --bg: var(--blue);
    --fontColor: var(--black);
    --btnBg: var(--dark);
    --btnFontColor: var(--white);

    --themeBtnImg: var(--sun)
}

.light-theme {
    --bg: var(--blue);
    --fontColor: var(--black);
    --btnBg: var(--dark);
    --btnFontColor: var(--white);

    --themeBtnImg: var(--sun)
}

.dark-theme {
    --bg: var(--dark);
    --fontColor: var(--white);
    --btnBg: var(--blue);
    --btnFontColor: var(--dark);

    --themeBtnImg: var(--moon)
}